<!-- <div id='app1'>
  <div ngbDropdown class="d-inline-block container" id = 'app2'>
        <button class="btn btn-outline-dark" id="dropdownMenuButton" ngbDropdownToggle>Select Build Type</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem routerLink="/night">Night</button>
          <button ngbDropdownItem routerLink='/private'>Private</button>
        </div>
      </div>
</div> -->

<!-- <base href="http://localhost:4200/"> -->

<div class='container' id='div5'>
  <br/>
  <ul>
    <li>
  <a href="private/build2"><font color='black'>{{data[0].suit_id}}</font></a>
  </li>
  </ul>
</div>
<div class='div1'>
  <br/>
  <h4 class='h4' align='center'>Private Build Reports</h4>
  </div>
